<ul>
  <li><%= link_to "Root", root_path %></li>
  <li><%= link_to "Tooltip", tooltip_path %></li>
  <li><%= link_to "Datepicker", datepicker_path %></li>
  <li><%= link_to "Tooltip and Datepicker", fancy_path %></li>
  <li><%= link_to "Github", "https://github.com/schpet/rails-webpacker-code-splitting" %></li>
</ul>
<hr>
